.App {
  text-align: center;
  background: #313131;
}

.characters {
  color: #eacb87;
  text-decoration: none;
}

.characters:hover {
  color: #ad342b;
}

.charactersPage {
  background: #eacb87
}

.characterLink {
  text-decoration: none;
  color: #ad342b;
}

.characterLink:hover {
  color: #313131;
}

.characterLink:visited {
  text-decoration: none;
}